.HCISlidesClass {
    width: 48.7vw;
    height: 50vh;
    z-index: 5;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

.ThumbImage { 
    width: 12vw;
}

.ThumbImage_Small { 
    width: 8vw;
}

.SlidesContainer {
    background: none;
    padding-bottom: 30%;
    backdrop-filter: blur(6px);
}