#Background_Home {
	visibility: hidden;
}
#Background_Home_Video {
	top:200vh;
	opacity: 0.8;
}
#Home_Video {
    position: absolute;
    width: 42.33vw;
    height: 45vh;
    top: 225vh;
	left: 29.5vw;
}
.frostedGlass {
	background-color: black;
    backdrop-filter: blur(6px);
    opacity: 0.7;
}
.GroupMember{
	position: absolute;
	z-index: 1;
	height: 12vw;
	width: 12vw;
	border-radius: 0px;
	top: 60vh;
	opacity: 0.7;
	visibility:hidden;
}
.GroupMember_Text{
	font-size:1vw;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	transform: rotateY(180deg);
	opacity:0.05;
	box-shadow: 0 4px 8px 0 rgba(0, 150, 255, 0.2), 0 6px 20px 0 rgba(0, 150, 255, 0.15);
}
#GroupMember_Richard_Text{
	left: 44vw;
}
.GroupMember_Richard{
	left: 44vw;
	z-index:2;
}
#GroupMember_Richard_Trigger:hover ~ .GroupMember_Richard{
	-webkit-animation: rotateY 0.6s;
	animation: rotateY 0.6s;
	transform: rotateY(180deg);
	opacity:0.1;
}
#GroupMember_Richard_Trigger:hover ~ #GroupMember_Richard_Text{
	-webkit-animation: rotateY_Text 0.6s;
	animation: rotateY_Text 0.6s;
	transform: rotateY(0);
	opacity:0.8;
}
#GroupMember_Yusen_Text{
	left: 28vw;
}
.GroupMember_Yusen{
	left: 28vw;
	z-index:2;
}
#GroupMember_Yusen_Trigger:hover ~ .GroupMember_Yusen{
	-webkit-animation: rotateY 0.6s;
	animation: rotateY 0.6s;
	transform: rotateY(180deg);
	opacity:0.1;
}
#GroupMember_Yusen_Trigger:hover ~ #GroupMember_Yusen_Text{
	-webkit-animation: rotateY_Text 0.6s;
	animation: rotateY_Text 0.6s;
	transform: rotateY(0);
	opacity:0.8;
}
#GroupMember_Val_Text{
	left: 60vw;
}
.GroupMember_Val{
	left: 60vw;
	z-index:2;
}
#GroupMember_Val_Trigger:hover ~ .GroupMember_Val{
	-webkit-animation: rotateY 0.6s;
	animation: rotateY 0.6s;
	transform: rotateY(180deg);
	opacity:0.1;
}
#GroupMember_Val_Trigger:hover ~ #GroupMember_Val_Text{
	-webkit-animation: rotateY_Text 0.6s;
	animation: rotateY_Text 0.6s;
	transform: rotateY(0);
	opacity:0.8;
}
.GroupMember_Trigger{
	z-index:3;
	cursor: pointer;
}
.Background_Appendix {
		visibility:hidden;
		background-color:rgba(0,0,0,0.6);
		position: fixed;
		overflow: visible;
		width: 36vw;
		height: 6vh;
		left: 1vw;
		border-radius: 10px;
		top: 96vh;
		z-index: 9;
	}
#Appendix {
	visibility: hidden;
    position: fixed;
    width: 50vw;
    height: 5vh;
    left: 2vw;
    top: 98.8%;
    transform: translateY(-50%);
    overflow: hidden;
	z-index: 10;
	font-size: 1.1vw;
	display: flex;
}

.Appendix_Element {
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Microsoft Yi Baiti;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,1);
	margin: 0 0.73vw 0 0.73vw;
}

#introduction {
    position: absolute;
    top: 300vh;
    height: 100vh;
    width: 100vw;
}

#introductionContainer {
    left: 50%;
    position: absolute;
	top: 33%;
	z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}

@-webkit-keyframes rotateY {
  from {transform: rotateY(0deg);opacity:0.8}
  to {transform: rotateY(180deg);opacity:0.1}
  animation-timing-function:ease-in-out;
}

@keyframes rotateY {
  from {transform: rotateY(0deg);opacity:0.8}
  to {transform: rotateY(180deg);opacity:0.1}
  animation-timing-function:ease-in-out;
}

@-webkit-keyframes rotateY_Text {
  from {transform: rotateY(180deg);opacity:0.05;}
  to {transform: rotateY(0);opacity:0.8;}
  animation-timing-function:ease-in-out;
}

@keyframes rotateY_Text {
  from {transform: rotateY(180deg);opacity:0.05;}
  to {transform: rotateY(0);opacity:0.8;}
  animation-timing-function:ease-in-out;
}

@-webkit-keyframes fadingColor {from {color:rgba(0,150,255);opacity:1;}to {color:rgba(0,255,255);opacity:0.2;}animation-timing-function:ease-in-out;}