* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
	
	user-drag: none;
	-webkit-user-drag: none;
}

body{
	height:200vh;
	overflow-y:scroll;
	overflow-x: hidden;
	background-color: black;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar
{
	margin-left: 30px;
	float: left;
	height: 200vw;
	overflow-y: scroll;
	margin-bottom: 25px;
	width: 3px;
	background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,0.3);
}

#loading_Main {
	position:fixed;
	z-index:10;
	width:100vw;
	height:100vh;
	background-color:black;
}
#loading_Main_Gif {
	width: 36vw;
	left: 32vw;
	position: absolute;
	top: 22vh;
}
#MainPage {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: MainPage;
	--web-enable-deep-linking: true;
}
.Background{
	opacity: 0.95;
	position: absolute;
	width: 100vw;
	height: 100vh;
}
#Background_Watch{
	visibility: hidden;
	top: 5%;
	left: 85%;
	position: absolute;
	height: 95vh;
	position: absolute;
	z-index: -1;
}
#contentsBackground{
	visibility: hidden;
	background-color: rgba(0,0,0,0.55);
	position: absolute;
	width: 55%;
	height: 100%;
	left: 26%;
}
#active_2 {
	position: absolute;
	width: 1282.344px;
	height: 1530.111px;
	left: 1129.774px;
	top: -283.111px;
	overflow: visible;
}
#active_2_3 {
	position: absolute;
	width: 599px;
	height: 702px;
	left: 1099px;
	top: 189px;
	overflow: visible;
}
#active_2_2 {
	opacity: 0.96;
	position: absolute;
	width: 573.274px;
	height: 701.305px;
	left: 673px;
	top: 161px;
	overflow: visible;
}
#Icon_awesome_facebook_square {
	opacity: 0.8;
}
.Icon_awesome_facebook_square {
	overflow: visible;
	position: absolute;
	width: 2.5%;
	height: 3%;
	left: 95.5%;
	top: 95%;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_simple_wechat {
	opacity: 0.8;
}
.Icon_simple_wechat {
	overflow: visible;
	position: absolute;
	width: 2.5%;
	height: 3%;
	left: 92.8%;
	top: 95%;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_zocial_email {
	opacity: 0.8;
}
.Icon_zocial_email {
	overflow: visible;
	position: absolute;
	width: 2.1%;
	height: 2.6%;
	left: 90%;
	top: 95.1%;
	transform: matrix(1,0,0,1,0,0);
}

.DetailsWindow {
	position: absolute;
    width: 65%;
    height: 83%;
    left: 50%;
    top: 50%;
    background-color: black;
    z-index: 4;
    opacity: 0.86;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	visibility: hidden;
	backdrop-filter: blur(6px);
	border-radius: 2%;
}

/*Cutomized Animations*/
@-webkit-keyframes fadeInUp_Cust {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }

  to {
	opacity: 0.95;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp_Cust {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }

  to {
	opacity: 0.95;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}
  
.fadeInUp_Cust {
	  -webkit-animation-name: fadeInUp_Cust;
	  animation-name: fadeInUp_Cust;
}

@-webkit-keyframes fadeInLeft_Cust {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft_Cust {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft_Cust {
  -webkit-animation-name: fadeInLeft_Cust;
  animation-name: fadeInLeft_Cust;
}
	
@-webkit-keyframes focus {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  to {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes focus {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  to {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
  }
}

.focus {
  -webkit-animation-name: focus;
  animation-name: focus;
}

@-webkit-keyframes lostFocus {
  from {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

@keyframes lostFocus {
  from {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

.lostFocus {
  -webkit-animation-name: lostFocus;
  animation-name: lostFocus;
}

@media (max-width: 768px){ 
	#Prototype_Watch_1{
		visibility: hidden;
		opacity: 0.95;
		z-index: 2;
		position: absolute;
		top: 135vh;
		left: 6vw;
		width: 30vh;
	}
	#Prototype_Watch_2{
		visibility: hidden;
		z-index: 1;
		position: absolute;
		width: 27vh;
		left: 42vw;
		top: 135vh;
	}
	#loading_Main_Gif {
		width: 80vw;
		left: 10vw;
		position: absolute;
		top: 30vh;
	}
	#nevigationBar{
		display:none;
	}
}

@keyframes floatAndShape {
	from {
		border-radius: 0;
		opacity: 0;
	}

	to {
		border-radius: 50%;
		opacity: 0.7;
	}
}


@-webkit-keyframes floatAndShape {
	from {
		border-radius: 0;
		opacity: 0;
	}

	to {
		border-radius: 50%;
		opacity: 0.7;
	}
}

@keyframes floatAndShape_Reverse {
	from {
		border-radius: 50%;
	}

	to {
		border-radius: 0;
	}
}


@-webkit-keyframes floatAndShape_Reverse {
	from {
		border-radius: 50%;
	}

	to {
		border-radius: 0;
	}
}

@keyframes fadeIn_Cust {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.95;
	}
}

@-webkit-keyframes fadeIn_Cust {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.95;
	}
}

@keyframes fadeIn_Cust_ {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.86;
	}
}

@-webkit-keyframes fadeIn_Cust_ {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.86;
	}
}

@keyframes fadeOut_Cust_ {
	from {
		opacity: 0.86;
	}

	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut_Cust_ {
	from {
		opacity: 0.86;
	}

	to {
		opacity: 0;
	}
}

.fadeOut_Cust_ {
	-webkit-animation-name: fadeOut_Cust_;
	animation-name: fadeOut_Cust_;
}

.fadeIn_Cust {
	-webkit-animation-name: fadeIn_Cust;
	animation-name: fadeIn_Cust;
}

.fadeIn_Cust_ {
	-webkit-animation-name: fadeIn_Cust_;
	animation-name: fadeIn_Cust_;
}

.floatAndShape {
	-webkit-animation-name: floatAndShape;
	animation-name: floatAndShape;
}

.floatAndShape_Reverse {
	-webkit-animation-name: floatAndShape_Reverse;
	animation-name: floatAndShape_Reverse;
}