	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	
	body{
		height:200vh;
		overflow-y:scroll;
		overflow-x: hidden;
	}
	
	::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: rgba(0,0,0,0.2);
	}

	::-webkit-scrollbar
	{
		margin-left: 30px;
		float: left;
		height: 200vw;
		overflow-y: scroll;
		margin-bottom: 25px;
		width: 3px;
		background-color: rgba(0,0,0,0.1);
	}
	
	::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
		background-color: rgba(0,0,0,0.3);
	}


	#MainPage {
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		overflow: hidden;
		--web-view-name: Web 1920 – 1;
		--web-view-id: MainPage;
		--web-enable-deep-linking: true;
	}
	#Background{
		visibility: hidden;
		opacity: 0.95;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	#Background_Watch{
		visibility: hidden;
		top: 120%;
		left: 70%;
		position: absolute;
		width: 60%;
		position: absolute;
		z-index: -1;
	}
	#contentsBackground{
		visibility: hidden;
		background-color: rgba(0,0,0,0.55);
		position: absolute;
		width: 55%;
		height: 100%;
		left: 26%;
	}
	#active_2 {
		position: absolute;
		width: 1282.344px;
		height: 1530.111px;
		left: 1129.774px;
		top: -283.111px;
		overflow: visible;
	}
	.Background {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1280px;
		left: 0px;
		top: 0px;
	}
	#Prototype_Watch_1{
		visibility: hidden;
		opacity: 0.95;
		z-index: 2;
		position: absolute;
		width: 28%;
		left: 35%;
		top: 117%;
	}
	#Prototype_Watch_2{
		visibility: hidden;
		z-index: 1;
		position: absolute;
		width: 28%;
		left: 50%;
		top: 115%;
	}
	.Background_Appendix {
		opacity: 0.5;
		position: fixed;
		overflow: visible;
		width: 36vw;
		height: 6vh;
		left: 1vw;
		border-radius: 10px;
		top: 95vh;
	}
	#Appendix {
		visibility: hidden;
		position: fixed;
		width: 50vw;
		height: 5vh;
		left: 2vw;
		top: 95.8vh;
		overflow: hidden;
		z-index: 1;
	}
	.non-Selectable {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently*/
	}
	.Requirements {
		cursor: pointer;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Yi Baiti;
		font-style: normal;
		font-weight: normal;
		font-size: 1.3vw;
		color: rgba(255,255,255,1);
	}
	.Research {
		cursor: pointer;
		position: absolute;
		left: 8vw;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Yi Baiti;
		font-style: normal;
		font-weight: normal;
		font-size: 1.3vw;
		color: rgba(255,255,255,1);	
	}
	.HCI {
		cursor: pointer;
		position: absolute;
		left: 14vw;
		top: 0;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Yi Baiti;
		font-style: normal;
		font-weight: normal;
		font-size: 1.3vw;
		color: rgba(255,255,255,1);
	}
	.Prototype {
		cursor: pointer;
		position: absolute;
		left: 18vw;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Yi Baiti;
		font-style: normal;
		font-weight: normal;
		font-size: 1.3vw;
		color: rgba(255,255,255,1);
	}
	.Achievement {
		cursor: pointer;
		position: absolute;
		left: 24vw;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Yi Baiti;
		font-style: normal;
		font-weight: normal;
		font-size: 1.3vw;
		color: rgba(255,255,255,1);
	}
	.Plan {
		cursor: pointer;
		position: absolute;
		left: 32vw;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Yi Baiti;
		font-style: normal;
		font-weight: normal;
		font-size: 1.3vw;
		color: rgba(255,255,255,1);
	}
	#active_2_3 {
		position: absolute;
		width: 599px;
		height: 702px;
		left: 1099px;
		top: 189px;
		overflow: visible;
	}
	#active_2_2 {
		opacity: 0.96;
		position: absolute;
		width: 573.274px;
		height: 701.305px;
		left: 673px;
		top: 161px;
		overflow: visible;
	}
	#Icon_awesome_facebook_square {
		opacity: 0.8;
	}
	.Icon_awesome_facebook_square {
		overflow: visible;
		position: absolute;
		width: 2.5%;
		height: 3%;
		left: 95.5%;
		top: 95%;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_simple_wechat {
		opacity: 0.8;
	}
	.Icon_simple_wechat {
		overflow: visible;
		position: absolute;
		width: 2.5%;
		height: 3%;
		left: 92.8%;
		top: 95%;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_zocial_email {
		opacity: 0.8;
	}
	.Icon_zocial_email {
		overflow: visible;
		position: absolute;
		width: 2.1%;
		height: 2.6%;
		left: 90%;
		top: 95.1%;
		transform: matrix(1,0,0,1,0,0);
	}
	
	/*Cutomized Animations*/
	@-webkit-keyframes fadeInUp_Cust {
	  from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	  }

	  to {
		opacity: 0.95;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes fadeInUp_Cust {
	  from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	  }

	  to {
		opacity: 0.95;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	}
	  
	.fadeInUp_Cust {
		  -webkit-animation-name: fadeInUp_Cust;
		  animation-name: fadeInUp_Cust;
	}
	
	@-webkit-keyframes fadeInLeft_Cust {
	  from {
		opacity: 0;
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	  }

	  to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes fadeInLeft_Cust {
	  from {
		opacity: 0;
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	  }

	  to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	}

	.fadeInLeft_Cust {
	  -webkit-animation-name: fadeInLeft_Cust;
	  animation-name: fadeInLeft_Cust;
	}
		
	@-webkit-keyframes focus {
	  from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	  }

	  to {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	  }
	}

	@keyframes focus {
	  from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	  }

	  to {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	  }
	}

	.focus {
	  -webkit-animation-name: focus;
	  animation-name: focus;
	}
	
	@-webkit-keyframes lostFocus {
	  from {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	  }

	  to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	  }
	}

	@keyframes lostFocus {
	  from {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	  }

	  to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	  }
	}

	.lostFocus {
	  -webkit-animation-name: lostFocus;
	  animation-name: lostFocus;
	}
	
	@-webkit-keyframes fadeIn_Cust {
		from {
			opacity: 0;
		}

		to {
			opacity: 0.95;
		}
	}

	@keyframes fadeIn_Cust {
		from {
			opacity: 0;
		}

		to {
			opacity: 0.95;
		}
	}

	.fadeIn_Cust {
		-webkit-animation-name: fadeIn_Cust;
		animation-name: fadeIn_Cust;
	}