#ResearchHCIPrototype {
    position: absolute;
    top: 400vh;
    height: 136vh;
    width: 100vw;
}

#ResearchHCIPrototypeContainer {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.text-container{ 
    color: white;
}

p {
    color: white;
}